loras/
loras-v1/
loras-drag-bench/
lora_tmp/
data/
drag_bench_evaluation/drag_bench_data/*
drag_bench_evaluation/drag_bench_lora/*
drag_bench_evaluation/drag_diffusion_res/*

*/__pycache__/*
__pycache__/*
results/*
work_dirs/

# for slurm system
batchscript-*
phoenix-slurm-*

*.pkl
*.csv
*.txt
*.zip
*.out
